@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

* {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     font-size: 16px;
     list-style: none;
}

body {
     background-color: #f4f4f4;
     color: black;
     font-family: 'Poppins', sans-serif;
}

.container {
     max-width: 1200px;
     margin: 0 auto;
     padding: 0 20px;
}

/* ESTILOS NAVBAR */

.navbar {
     background-color: white;
     color: black;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 20px;
}

.navbar-logo img {
     max-width: 200px;
}

.navbar-links {
     display: flex;
}

.navbar-links li {
     margin-right: 20px;
     background-color: orange;
     padding: 14px;
     border: 2px solid black;
     border-radius: 40px;
}

.navbar-links li a {
     color: white;
     font-weight: 800;
     text-decoration: none;
     font-size: 15px;
}

/* ESTILOS SECCIÓN HERO */

.hero {
     background-image: url('../img/Patio.jpg');
     background-size: cover;
     background-position: center;
     text-align: center;
     padding: 200px 0;
}

.hero-content {
     max-width: 600px;
     margin: 0 auto;
}

.hero h1 {
     font-size: 50px;
     margin-bottom: 10px;
     color: #f4f4f4;
     font-weight: 900;
     border-style: dashed;
}

.hero p {
     font-size: 20px;
     margin-bottom: 30px;
}

.btn {
     display: inline-block;
     background-color: #fdad00;
     color: #fff;
     padding: 10px 20px;
     border-radius: 10px;
     text-decoration: none;
     border: 1px solid white;
}

.btn:hover {
     color: black;
     border: 1px solid black;
}

/* Seccion Quienes Somos */

section {
     padding: 50px 20px;
}

section h2 {
     font-size: 50px;
     color: #001f99;
     margin-bottom: 20px;
}

section .txt {
     color: red !important;
}

section p {
     font-size: 20px;
     line-height: 1.6;
}

/*HISTORICO*/

.historico {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 50px;
}

.historico-texto {
     flex: 1;
     padding-right: 20px;
}

.historico-texto h2 {
     font-size: 50px;
     font-weight: 90;
     border-bottom: 2px solid #001f99;
}

.historico-texto p {
     font-size: 20px;
     line-height: 1.7;
     margin-bottom: 20px;
}

.historico-imagen {
     flex: 1;

}

.historico-imagen img {
     max-width: 100%;
     height: auto;
     border-radius: 50px;
}

/* Sección Mision y Vision */

.mision-vision {
     display: flex;
     justify-content: space-around;
     align-items: flex-start;
     margin-top: 50px;
}

.mision-vision>div {
     flex: 1;
     padding: 0 20px;
     text-align: center;
}

.mision-vision h2 {
     font-size: 36px;
     color: #001f99;
     margin-bottom: 20px;
}

.mision-vision h3 {
     font-size: 28px;
     color: #ebc700;
     margin-bottom: 10px;
}

.mision-vision p {
     font-size: 20px;
     line-height: 1.6;
     margin-bottom: 20px;
}


.organigrama {
     display: flex;
     justify-content: space-around;
     align-items: center;
     flex-direction: column;

}

.organigrama h2 a {
     text-decoration: none;
     font-size: 20px;
     color: #ebc700;
     text-shadow: 0 0 7px #ebc700;
}

.organigrama h3 {
     color: red;
     margin-bottom: 20px;
}

.organigrama iframe {
     border: 2px solid blue;
     border-radius: 50px;
     box-shadow: 0 0 10px black;
}

/* FOOTER */
footer {
     background-color: #001f99;
     color: white;
     padding: 20px;
     text-align: center;
     font-weight: 400;
     font-style: normal;
     font-family: "Protest Strike", sans-serif !important;
}

.footer-content {
     align-items: center;
     display: flex;
     flex-direction: column;
}

.contacto {
     border-bottom: 8px solid red;
     margin-bottom: 24px;
     width: fit-content;
}

.contacto h4 {
     font-size: 30px !important;

}

.items li {
     list-style: none;
     padding: 10px;
     font-size: 20px;
}

.items li span {
     color: rgb(46, 247, 46);
     font-size: 23px;
     margin-left: 5px;
}

.items li i {
     color: #ebc700;
     font-size: 23px;
     margin-right: 5px;
}

.items li a {
     color: #ebc700;
     font-size: 18px;
     text-decoration: wavy underline;
     font-weight: 900;
}